<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Can a woman ever win at work? - Businessweek</title>
  <meta name="description" content="It’s hard enough for a working woman, and now a new study from UNC’s Kenan Flager School of Business found many struggles over promotion and raises may be out of a gal’s control. Take this easy quiz to determine just how screwed you might be, culled from the endless academic research on office gender dynamics.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

  <meta name="twitter:card" content="photo">
  <meta name="twitter:site" content="bizweekgraphics">
  <meta name="twitter:creator" content="tophtucker">
  <meta name="twitter:title" content="Can a woman ever win at work?">
  <!--<meta name="twitter:image" content="http://">
  <meta name="twitter:image:width" content="100">
  <meta name="twitter:image:height" content="100">-->
  <meta name="twitter:domain" content="http://bizweekgraphics.com/">

  <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <link href="apple-touch-icon-precomposed.png" rel="apple-touch-icon" type="image/png" />
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/more-animations.css">
  <link rel="stylesheet" href="css/waves.css">
  <link rel="stylesheet" href="css/responsive-nav.css">



  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/h5bp.css">
  <link rel="stylesheet" href="css/bbw.css">
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="js/vendor/enquire.min.js"></script>
</head>

<!--
Fonts:
font-family:BloombergLBold    // corporate wordmark logotype
font-family:BWHaasHead
font-family:BWHaasHead75Bold
font-family:BWHaasRegular
font-family:DrukMedium
font-family:DrukWideSuper
-->

<body onload="loaded()">

<a href="http://www.businessweek.com"><img id="bloomberg" src="img/bloomberg.png"></a>
<nav class="nav-collapse">
  <ul>
    <a href="http://www.businessweek.com/global-economics"><li id="global">Global<br>Economics</li></a>
    <a href="http://www.businessweek.com/companies-and-industries"><li id="companies">Companies &<br> Industries</li></a>
    <a href="http://www.businessweek.com/politics-and-policy"><li id="politics">Politics &<br> Policy</li></a>
    <a href="http://www.businessweek.com/technology"><li id="tech">Technology</li></a>
    <a href="http://www.businessweek.com/markets-and-finance"><li id="markets">Markets &<br> Finance</li></a>
    <a href="http://www.businessweek.com/innovation-and-design"><li id="innovation">Innovation &<br> Design</li></a>
    <a href="http://www.businessweek.com/lifestyle"><li id="life">Lifestyle</li></a>
    <a href="http://www.businessweek.com/business-schools"><li id="b-school">Business Schools</li></a>
    <a href="http://www.businessweek.com/small-business"><li id="small-biz">Small Business</li></a>
    <a href="http://www.businessweek.com/media"><li id="video">Video &<br> Multimedia</li></a>
  </ul>
</nav>

  <script type="text/html" id="quizTemplate">
  <div class="slide question" data-slideindex="<%= q.id %>">
    <h2 class="question"><%= q.question %></h2>
    <div class="hide-img img-container <%= q.className %>">
      <img class="<%= q.animateIn %>" src="img/<%= q.img %>"></img>
    </div>
    <div class="clear" style="clear:both;margin:20px;"></div>
    <div class="choices">
    <% _.each(q.choices, function(choice) { %>
      <button class="waves-effect waves-button waves-light waves-float choice" data-points="<%= choice.points %>" data-text="<%= choice.text %>" data-nextslide="<%= choice.next %>">
        <%= choice.button %>
        <div class="points"><%=choice.points%></div>
      </button>
    <% }); %>
    <div class="point-div">+1</div>
    </div>
    <div class="zoomHuge point-div">+1</div>
    <p class="choice-text"></p>
  </div>
  </script>

  <script type="text/html" id="introTemplate">
  <div class="slide" id="intro">
    <h2 id="title">Can a woman<br><strong>ever</strong><br>win at work?</h2>
    <h3 id="byline">By Claire Suddath</h3>
    <p id="description">It’s hard enough for a working woman, and now a new study from UNC’s Kenan Flager School of Business found many struggles over promotion and raises may be out of a gal’s control. Take this easy quiz to determine just how screwed you might be, culled from the endless academic research on office gender dynamics.</p>
    <button class="waves-effect waves-button waves-light waves-float" id="start">Start</button>
  </div>
  </script>

  <script type="text/html" id="outroTemplate">
  <div class="slide animated bounceInLeft" id="outro">
    <h2 class="pulse-text">Total Points: <span id="point-total">0</span></h2>
    <p id="point-total-text">Outro description text</p>
    <a class="twitter popup" id="story-link" href="http://twitter.com/share?text="><button class="waves-effect waves-button waves-light waves-float">Tweet</button></a>
  </div>
  </script>

  <script src="js/vendor/jquery-1.10.2.min.js"></script>
  <script src="js/vendor/responsive-nav.js"></script>
  <script src="js/vendor/waves.js"></script>
  <script src="js/vendor/underscore-min.js"></script>
  <script type="text/javascript">
    Waves.displayEffect();
  </script>
  <script src="js/main.js"></script>

<script>


</script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48575462-1', 'bizweekgraphics.com');
  ga('send', 'pageview');

</script>

<script>
  var navigation = responsiveNav(".nav-collapse", {
    animate: true,                    // Boolean: Use CSS3 transitions, true or false
    transition: 284,                  // Integer: Speed of the transition, in milliseconds
    label: "",                    // String: Label for the navigation toggle
    insert: "after",                  // String: Insert the toggle before or after the navigation
    customToggle: "",                 // Selector: Specify the ID of a custom toggle
    closeOnNavClick: false,           // Boolean: Close the navigation when one of the links are clicked
    openPos: "relative",              // String: Position of the opened nav, relative or static
    navClass: "nav-collapse",         // String: Default CSS class. If changed, you need to edit the CSS too!
    navActiveClass: "js-nav-active",  // String: Class that is added to <html> element when nav is active
    jsClass: "js",                    // String: 'JS enabled' class which is added to <html> element
    init: function(){},               // Function: Init callback
    open: function(){},               // Function: Open callback
    close: function(){}               // Function: Close callback
  });
</script>
</script>



</body>
</html>
