<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Can a woman ever win at work? - Businessweek</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

  <meta name="twitter:card" content="photo">
  <meta name="twitter:site" content="bizweekgraphics">
  <meta name="twitter:creator" content="tophtucker">
  <meta name="twitter:title" content="Can a woman ever win at work?">
  <meta name="twitter:image" content="http://">
  <meta name="twitter:image:width" content="100">
  <meta name="twitter:image:height" content="100">
  <meta name="twitter:domain" content="http://bizweekgraphics.com/">

  <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <link href="apple-touch-icon-precomposed.png" rel="apple-touch-icon" type="image/png" />

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/h5bp.css">
  <link rel="stylesheet" href="css/bbw.css">
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="js/vendor/iscroll.js"></script>
  <script src="js/vendor/enquire.min.js"></script>
</head>

<!--
Body classes:
.iframed    // no interface wrapping, no margins
.dark_layout  // like bbw video site
.half      // half-width of standard article (315px)
.full      // full-width of standard article (630px)
.wide      // wide interactive feature layout (970px)

Fonts:
font-family:BloombergLBold    // corporate wordmark logotype
font-family:BWHaasHead
font-family:BWHaasHead75Bold
font-family:BWHaasRegular
-->

<body onload="loaded()">

  <div id="nav" style="position:absolute;">
    <div id="prev" class="nav-arrow-wrapper" onclick="myScroll.prev()" style="display:none;">
      <img src="img/down.png">
    </div>
    <div id="next" class="nav-arrow-wrapper">
      <img src="img/down.png">
      <div class="pulser"></div>
    </div>
  </div>

  <div id="viewport">
    <div id="wrapper">
      <div id="scroller"></div>
    </div>
  </div>

  <div id="indicator">
    <div id="dotty"></div>
  </div>

  <script type="text/html" id="quizTemplate">
  <div class="slide question" data-slideindex="<%= q.id %>">
    <div class="slide-inner">
      <h2 class="question"><%= q.question %></h3>
      <% _.each(q.choices, function(choice) { %>
        <button class="choice" data-points="<%= choice.points %>" data-text="<%= choice.text %>" data-nextslide="<%= choice.next %>">
          <%= choice.button %>
          <div class="points"><%=choice.points%></div>
        </button>
      <% }); %>
      <p class="choice-text"></p>
    </div>
  </div>
  </script>

  <script type="text/html" id="introTemplate">
  <div class="slide" id="intro">
    <div class="slide-inner preview">
      <a href="http://businessweek.com/" title="Bloomberg Businessweek"><img src="apple-touch-icon-precomposed.png" width="50"></a>
      <h2 id="title">Can a woman ever win at work?</h2>
      <p id="description">It’s hard enough for a working woman, and now a new study from UNC’s Kenan Flager School of Business found many struggles over promotion and raises may be out of a gal’s control. Take this easy quiz to determine just how screwed you might be, culled from the endless academic research on office gender dynamics.</p>
      <button id="start">Start</button>
    </div>
  </div>
  </script>

  <script type="text/html" id="outroTemplate">
  <div class="slide" id="outro">
    <div class="slide-inner preview">
      <h2><span id="point-total">0</span> points</h2>
      <p id="point-total-text">Outro description text</p>
      <a id="story-link" href="#"><button>Call to action</button></a>
      <div class="data-credit">Sources???</div>
    </div>
  </div>
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
  <script src="js/vendor/underscore-min.js"></script>
  <script src="js/main.js"></script>

  <script>

// before doing anything else, set up iscroll
var myScroll;

function loaded () {

  document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);

  var quiz = [
    { "id": 0,
      "question": "IS YOUR BOSS A MAN?",
      "choices": [
        { "button": "Yes",
          "text": "Of course. According to a 2013 Gallup poll, 54% of Americans have a male boss, versus 30% with a female one. Actually, 35% of Americans would rather work for a man, while 40% have no preference either way.",
          "points": 1,
          "next": 1 },
        { "button": "No",
          "text": "Watch out. Female bosses ￼might not help you get ahead. In 2012, MIT studied U.S. bank branches where half the managers were women. They were just as unlikely to promote underlings.",
          "points": 1,
          "next": 4 }
      ]
    },
    { "id": 1,
      "question": "DOES HE HAVE A WIFE?",
      "choices": [
        { "button": "Yes",
          "text": "",
          "points": 0,
          "next": 2 },
        { "button": "No",
          "text": "",
          "points": 0,
          "next": 3 }
      ]
    },
    { "id": 2,
      "question": "DOES HIS WIFE WORK?",
      "choices": [
        { "button": "Yes",
          "text": "Great! In a UNC Kenan Flagler Business School study, male managers married to working women were more likely to recommend female candidates over males for new positions.",
          "points": 1 },
        { "button": "No",
          "text": "Bad news: The same research showed married men with stay-at-home wives viewed female colleagues unfavorably and had a tendency to pass them over for promotions.",
          "points": -1 },
        { "button": "Not applicable!",
          "text": "OK, carry on...",
          "points": 0 }
      ]
    },
    { "id": 3,
      "question": "DOES HE HAVE A DAUGHTER?",
      "choices": [
        { "button": "Yes",
          "text": "Excellent! If a male CEO has a first child who’s a girl, a female employee’s wages will rise by 1.1%. Male employees see a much smaller rise, according to a 2012 issue of Administrative Science Quarterly.",
          "points": 1 },
        { "button": "No",
          "text": "Eek. Based on the same study, when CEOs have a son, all employees’ wages drop. Fortunately, it’s less than half a percent.",
          "points": -1 },
        { "button": "Not applicable!",
          "text": "OK, carry on...",
          "points": 0 }
      ]
    },
    { "id": 4,
      "question": "ARE YOU BLOND?",
      "choices": [
        { "button": "Yes",
          "text": "U. of Queensland researchers found blondes make 7% more",
          "points": 1 },
        { "button": "No",
          "text": "Could you be blond?",
          "points": -1 }
      ]
    },
    { "id": 5,
      "question": "DO YOU FLIRT AT WORK?",
      "choices": [
        { "button": "Yes",
          "text": "Go for it. In 2012, Berkeley’s Haas School of Business found that women could flirt their way into higher prices when selling cars to men. In 2009, former Sec. of State Madeline Albright told Bill Maher that she flirted with foreign dignitaries so they’d concur.",
          "points": 1 },
        { "button": "No",
          "text": "Safety first; flirting can backfire. A 2013 Academy of Management brief said that even though big law firms encouraged strategic flirtation, the women who tried it were looked down upon, considered stupid, and mistreated.",
          "points": 0 }
      ]
    },
    { "id": 6,
      "question": "DO YOU DRESS UP FOR WORK?",
      "choices": [
        { "button": "Yes",
          "text": "￼Well done. According to Proctor & Gamble-funded psychology research conducted at Harvard U., people think women wearing makeup look more competent and professional than those who don’t.",
          "points": 1 },
        { "button": "No",
          "text": "This may be ideal. In a study titled “Intolerance of Sexy Peers,” a McMaster U. researcher discovered women were put off by other women who looked too fancy. 85% preferred a thin blond woman in khakis over the same woman in a short skirt and tall boots.",
          "points": -1 }
      ]
    },
    { "id": 7,
      "question": "HOW’S YOUR WEIGHT?",
      "choices": [
        { "button": "I'm good",
          "text": "Nice! Many studies have proven a woman’s weight has a significant effect on her earnings potential. The Journal of Applied Psychology reported in 2010 that even very thin women are punished when they gain a little.",
          "points": 1 },
        { "button": "I could lose a few",
          "text": "Uh oh. There’s a sad scientific correlation: When a woman’s BMI increases, her income decreases. Her spouse’s does, too. The effect is most profound on younger women without established careers.",
          "points": -1 }
      ]
    },
    { "id": 8,
      "question": "￼DO YOU HAVE GOOD POSTURE?",
      "choices": [
        { "button": "Yes",
          "text": "A Harvard Business School study says you’ll look more powerful.",
          "points": 1 },
        { "button": "No",
          "text": "Stand up straight.",
          "points": -1 }
      ]
    }
  ];
  var slideCount = quiz.length+2;


  $("#scroller").append(_.template($("#introTemplate").html()));

  var template = $("#quizTemplate").html();
  _.each(quiz, function(q, i) {
    $("#scroller").append(_.template(template, {"q": q, "i": i}));
  });

  $("#scroller").append(_.template($("#outroTemplate").html()));
  $("#outro").attr("data-slideindex", quiz.length);

  $("#start").click(function() {
    $('.slide.question[data-slideindex="0"]').show();
    myScroll.next();
  })

  $("button.choice").click(function(e) {
    var button = $(e.target);
    var slide = button.closest(".question");

    // show points and text
    slide.find("button").removeClass("active");
    button.addClass("active");
    slide.find("p").text(button.data("text"));

    // update point total
    var answers = $(".choice.active");
    var pointTotal = answers.toArray().reduce(function(a,b) {
      return a + $(b).data("points");
    }, 0);
    $("#point-total").text(pointTotal);
    $("#point-total-text").text(pointText(pointTotal));

    // progressive reveal (show next slide & advance)
    var nextSlide = button.data("nextslide") ? button.data("nextslide") : slide.data("slideindex")+1;
    console.log("next slide: " + nextSlide);
    $('.slide[data-slideindex="'+nextSlide+'"]').show();

  })

  function next() {
    myScroll.next();
  }

  function pointText(points) {
    if(points>5) {
      return "You get a raise!";
    } else if (points >= 0) {
      return "Tread carefully. Oh, and maybe get some highlights.";
    } else {
      return "Have you thought about quitting your job?";
    }
  }

  $("#next").on("click",function() { myScroll.next(); onPageNav(); });
  $("#next").on("touchstart",function() { myScroll.next(); onPageNav(); });

  /*
  $(".real").on("click", function() {
    $(this).addClass("button-success");
    $(this).parent().append("<p>Yup, it's real!</p>");
    $("#next").css("display", "block");
  });
  $(".fake").on("click", function() {
    $(this).addClass("button-error");
    $(this).parent().append("<p>Nope, it's real!</p>");
    $("#next").css("display", "block");
  });
  */

  $("#dotty").css("width", (100/slideCount)+"%");
  $(".slide").css("width", (100/slideCount)+"%");
  if(window.innerWidth < 361) {
    $("#scroller").css("width", (100*slideCount)+"%");
  }
  else {
    $("#scroller").css("width", (320*slideCount)+"px");
  }

  myScroll = new IScroll('#wrapper', {
    scrollX: true,
    scrollY: false,
    momentum: false,
    snap: true,
    snapSpeed: 400,
    keyBindings: true,
    mouseWheel: true,
    indicators: {
      el: document.getElementById('indicator'),
      resize: false
    }
  });
  myScroll.on('scrollEnd', onPageNav);

  enquire.register("screen and (min-width: 361px)", {

    // triggered when media query matches.
    match : function() {
      $("#scroller").css("width", (320*slideCount)+"px");
    },

    unmatch : function() {
      $("#scroller").css("width", (100*slideCount)+"%");
    }

  });
}

function onPageNav() {
  $("#next").css("display", "none");
  /*
  if(myScroll.currentPage.pageX == 0) {
    myScroll.pages[0].seen = true;
    $("#next").css("display", "block");
    $("#prev").css("display", "none");
  } else if(myScroll.currentPage.pageX == 1) {
    myScroll.pages[1].seen = true;
    $("#next").css("display", deepwaterSeen ? "block" : "none");
    $("#next .pulser").css("display", myScroll.pages[2].seen ? "none" : "block");
    $("#prev").css("display", "block");
  } else if(myScroll.currentPage.pageX == 2) {
    myScroll.pages[2].seen = true;
    $("#next").css("display", "none");
    $("#prev").css("display", "block");
  }
  */
}

  </script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48575462-1', 'bizweekgraphics.com');
  ga('send', 'pageview');

</script>

</body>
</html>
